name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy_flyio:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: hk
            region: hkg
          - name: us
            region: sea
          - name: eu
            region: lhr
    steps:
      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure xray user bonjour
        run: jq '.inbounds.[0].settings.clients.[0].id = "${{ secrets.XRAY_USER }}"' ./config.json > ./tmp.json && mv tmp.json config.json
      - name: Configure fly name
        run: sed -i -e '1i app = "bonjour-xray-${{ matrix.name }}"' ./fly.toml
      - name: Configure fly region
        run: sed -i -e '2i primary_region = "${{ matrix.region }}"' ./fly.toml
      - name: Create app
        env:
          FLY_ACCESS_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
        run: flyctl apps create bonjour-xray-${{ matrix.name }} || true
      - name: Deploy app
        env:
          FLY_ACCESS_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
        run: flyctl deploy
      - name: Scale app count
        env:
          FLY_ACCESS_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
        run: flyctl scale count 1 --yes
